name: CI

on:
  push:
    branches:
      - main
      - version2-beta
  pull_request:
  workflow_dispatch:

jobs:
  build-and-test:
    name: Build and Test
    runs-on: macos-15

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Show Swift Version
        run: swift --version

      - name: Build
        run: swift build

      - name: Test
        run: swift test --no-parallel
